<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bink.mybatis.MenuMapper">

	<!-- 映射返回字段类型 -->
	<resultMap type="com.bink.entity.Menu"
		id="menuResultMapper">
		<result property="menuId" column="menu_id" />
		<result property="parentId" column="parent_id" />
		<result property="menuName" column="menu_name" />
		<result property="roleType" column="role_type" />
		<result property="htmlPath" column="html_path" />
		<result property="imagePath" column="image_path" />
	</resultMap>

	<select id="getMenuByRoleType" parameterType="int" resultMap="menuResultMapper">
		SELECT  menu_id, parent_id, menu_name, role_type, html_path, image_path
		FROM menu
		  WHERE role_type &lt;= #{roleType}
		  ORDER BY parent_id, menu_id
	</select>

</mapper>
